@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
html ::-moz-placeholder, body ::-moz-placeholder {
  color: #c5c3bf;
}
html ::placeholder, body ::placeholder {
  color: #c5c3bf;
}
html h3, body h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
html .btn-yellow, body .btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #4c4946;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  font-weight: 400;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
html .btn-yellow i, body .btn-yellow i {
  margin-left: 0.5rem;
}
html .btn-yellow:hover, body .btn-yellow:hover {
  background-color: #191919;
  border-color: #191919;
  color: #F0EFE9;
}
html .btn-black, body .btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  font-weight: 400;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
html .btn-black i, body .btn-black i {
  margin-left: 0.5rem;
}
html .btn-black:hover, body .btn-black:hover {
  background-color: #FFFFFF;
  color: #191919;
}
html .btn-transparent, body .btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  font-weight: 400;
  border-radius: 2rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
html .btn-transparent i, body .btn-transparent i {
  margin-left: 0.5rem;
}
html .btn-transparent:hover, body .btn-transparent:hover {
  background-color: #191919;
  color: #F0EFE9;
}
html .section-title, body .section-title {
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  html .section-title, body .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
html .section-title p, body .section-title p {
  color: red;
  margin-bottom: 10px;
}
html .section-title h2, body .section-title h2 {
  font-family: "DM Sans", sans-serif;
  color: #191919;
  font-weight: 700;
  font-size: 35px;
}
@media (min-width: 1200px) {
  html .section-title h2, body .section-title h2 {
    font-size: 45px;
  }
}
html .center-content, body .center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .contact-box {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #d3cfc9;
}
header .container .contactinformation-bar .contact-box i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
header .container .contactinformation-bar .contact-box.last {
  border-right: none;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
  transition: color 0.2s ease-in-out;
}
header .container .socialmedia-bar a:hover {
  color: #7c7c7c;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.index-main .showcase {
  position: relative;
  background-color: #F0EFE9;
  z-index: 0;
}
.index-main .showcase .background-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-width: 80%;
}
.index-main .showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .index-main .showcase .container {
    text-align: left;
  }
}
.index-main .showcase .container .content {
  padding-bottom: 30px;
  color: RGBA(25, 25, 25, 0.8);
}
.index-main .showcase .container .content h1 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .index-main .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .index-main .showcase .container .content h1 {
    font-size: 86px;
    text-align: left;
  }
}
.index-main .showcase .container .content p {
  font-size: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .index-main .showcase .container .content p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .index-main .showcase .container .content p {
    text-align: left;
  }
}
.index-main .showcase .container .content .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
@media (min-width: 1200px) {
  .index-main .showcase .container .content .buttons {
    justify-content: left;
  }
}
.index-main .showcase .container img {
  display: none;
  min-height: 500px;
}
@media (min-width: 1200px) {
  .index-main .showcase .container img {
    display: block;
    margin-right: -50px;
  }
}
.index-main .company-logotypes2 .logotypes {
  display: flex;
  justify-content: space-between;
  padding: 72px 0px 80px 0px;
  overflow: auto;
  white-space: nowrap;
}
.index-main .company-logotypes2 .logotypes img {
  display: flex;
  justify-self: center;
}
.index-main .features .container {
  border: 1px solid #d3cfc9;
  max-width: 1520px;
  justify-content: center;
  margin: auto;
  padding-top: 80px;
}
@media (min-width: 768px) {
  .index-main .features .container {
    display: block;
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 1300px) {
  .index-main .features .container {
    display: flex;
    padding-left: 100px;
    padding-right: 213px;
  }
}
.index-main .features .container .title-and-btn {
  width: 60%;
  display: block;
  margin: auto;
  text-align: center;
}
@media (min-width: 1300px) {
  .index-main .features .container .title-and-btn {
    text-align: left;
  }
}
.index-main .features .container .title-and-btn .section-title {
  display: block;
  padding-top: 0px;
  padding-bottom: 30px;
}
.index-main .features .container .title-and-btn .btn-yellow {
  display: block;
  text-align: center;
}
.index-main .features .container .feature-examples {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
@media (max-width: 768px) {
  .index-main .features .container .feature-examples {
    display: block;
  }
}
@media (min-width: 1300px) {
  .index-main .features .container .feature-examples {
    text-align: left;
    padding-left: 103px;
  }
}
.index-main .features .container .feature-examples .example {
  padding: 30px 40px 30px 40px;
  color: RGBA(25, 25, 25, 0.8);
}
.index-main .features .container .feature-examples .example i {
  display: block;
  color: #191919;
  padding-bottom: 32px;
  font-size: 32px;
}
@media (min-width: 1300px) {
  .index-main .features .container .feature-examples .example i {
    padding-right: 30px;
  }
}
.index-main .features .container .feature-examples .example h3 {
  display: block;
}
.index-main .about-company {
  display: block;
  padding-top: 70px;
  padding-bottom: 80px;
}
@media (min-width: 1000px) {
  .index-main .about-company {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.index-main .about-company .image-and-square {
  position: relative;
}
.index-main .about-company .image-and-square img {
  display: none;
}
@media (min-width: 600px) {
  .index-main .about-company .image-and-square img {
    display: block;
    padding-right: 20px;
    margin-left: 0px;
  }
}
@media (min-width: 768px) {
  .index-main .about-company .image-and-square img {
    margin-left: 56px;
  }
}
@media (min-width: 1400px) {
  .index-main .about-company .image-and-square img {
    padding-right: 200px;
  }
}
.index-main .about-company .image-and-square .white-lines {
  position: absolute;
  left: -35px;
  top: 35px;
  display: none;
}
@media (min-width: 600px) {
  .index-main .about-company .image-and-square .white-lines {
    display: block;
  }
}
.index-main .about-company .image-and-square .blue-box {
  background: #BEEBFF;
  width: 100%;
  left: 0;
  bottom: 40px;
  padding: 30px 17px 55px 24px;
  margin: auto;
}
@media (min-width: 600px) {
  .index-main .about-company .image-and-square .blue-box {
    position: absolute;
    width: 368px;
  }
}
@media (min-width: 1200px) {
  .index-main .about-company .image-and-square .blue-box {
    bottom: 40px;
  }
}
.index-main .about-company .image-and-square .blue-box h3 {
  font-size: 20px;
}
.index-main .about-company .image-and-square .blue-box h3 span {
  font-size: 16px;
  color: #F94D1C;
}
.index-main .about-company .image-and-square .blue-box p {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 500;
}
.index-main .about-company .title-and-text {
  text-align: center;
  margin-top: 40px;
}
@media (min-width: 1000px) {
  .index-main .about-company .title-and-text {
    text-align: left;
    margin-top: 0px;
  }
}
.index-main .about-company .title-and-text .section-title {
  padding-top: 0;
  padding-bottom: 37px;
}
.index-main .about-company .title-and-text p {
  line-height: 28px;
}
@media (min-width: 1200px) {
  .index-main .about-company .title-and-text p {
    line-height: 32px;
  }
}
.index-main .about-company .title-and-text .buttons-and-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}
@media (min-width: 321px) {
  .index-main .about-company .title-and-text .buttons-and-text {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1000px) {
  .index-main .about-company .title-and-text .buttons-and-text {
    display: block;
    margin-top: 44px;
  }
}
@media (min-width: 1200px) {
  .index-main .about-company .title-and-text .buttons-and-text {
    display: flex;
    margin-top: 84px;
  }
}
.index-main .about-company .title-and-text .buttons-and-text .video {
  display: flex;
  margin-top: 20px;
  align-self: center;
}
@media (min-width: 321px) {
  .index-main .about-company .title-and-text .buttons-and-text .video {
    margin-left: 40px;
    margin-top: 0;
  }
}
@media (min-width: 1000px) {
  .index-main .about-company .title-and-text .buttons-and-text .video {
    margin-top: 30px;
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .index-main .about-company .title-and-text .buttons-and-text .video {
    margin-top: 0;
    margin-left: 40px;
  }
}
.index-main .about-company .title-and-text .buttons-and-text .video .btn-video {
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 9px 18px;
  border: 1px solid #191919;
  transition: font-size 0.05s ease-in-out, padding 0.05s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.index-main .about-company .title-and-text .buttons-and-text .video .btn-video:hover {
  background-color: #191919;
  color: #F0EFE9;
  font-size: 18px;
  padding: 10.5px 17.2px 7.5px;
}
.index-main .about-company .title-and-text .buttons-and-text .video p {
  margin-left: 16px;
  margin-bottom: 0;
  align-self: center;
}
.index-main .our-services {
  position: relative;
  display: block;
  background-color: #F0EFE9;
  text-align: center;
  padding-bottom: 120px;
  z-index: 0;
}
.index-main .our-services .background-lines-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  max-width: 80%;
}
.index-main .our-services .section-title {
  text-align: center;
  padding-bottom: 40px;
}
.index-main .our-services .section-title h2 {
  font-size: 35px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .index-main .our-services .section-title {
    text-align: left;
  }
  .index-main .our-services .section-title h2 {
    font-size: 45px;
  }
}
.index-main .our-services .services {
  display: block;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}
@media (min-width: 576px) {
  .index-main .our-services .services {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .index-main .our-services .services {
    display: flex;
    gap: 30px;
  }
}
.index-main .our-services .services .services-item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 50px 30px 40px 30px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  color: RGBA(25, 25, 25, 0.8);
  text-align: left;
}
@media (min-width: 576px) {
  .index-main .our-services .services .services-item {
    margin-bottom: 0px;
  }
}
.index-main .our-services .services .services-item.active {
  background-color: #F9D783;
  color: #191919;
}
.index-main .our-services .services .services-item .short-border {
  position: absolute;
  left: 30px;
  right: 75%;
  border-top: 2px solid #191919;
}
.index-main .our-services .services .services-item h3 {
  padding-top: 40px;
  padding-bottom: 8px;
}
.index-main .our-services .services .services-item p {
  padding-bottom: 12px;
}
.index-main .our-services .services .services-item .btn-round {
  align-self: end;
  margin-left: auto;
  margin-right: 10px;
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  padding: 10px 17px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.index-main .our-services .services .services-item .btn-round:hover {
  background-color: #FFFFFF;
  color: #191919;
}
.index-main .our-services .services .services-item .btn-round.active {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #191919;
}
.index-main .our-services .services .services-item .btn-round.active:hover {
  background-color: #191919;
  border-color: #191919;
  color: #FFFFFF;
}
@media (min-width: 1400px) {
  .index-main .why-choose-us .container {
    display: flex;
  }
}
.index-main .why-choose-us .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
@media (min-width: 1400px) {
  .index-main .why-choose-us .text {
    justify-content: left;
    gap: 0px;
  }
}
.index-main .why-choose-us .text .section-title {
  padding-top: 60px;
  text-align: center;
}
@media (min-width: 768px) {
  .index-main .why-choose-us .text .section-title img {
    padding: 60px 80px 0px 80px;
  }
}
@media (min-width: 1400px) {
  .index-main .why-choose-us .text .section-title {
    display: block;
    padding: 60px 0px 0px;
    text-align: left;
  }
}
.index-main .why-choose-us .text .reason {
  position: relative;
  margin-top: 0px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "circle h3" "circle p";
}
@media (min-width: 1000px) {
  .index-main .why-choose-us .text .reason {
    margin-top: 46px;
  }
}
.index-main .why-choose-us .text .reason .circle {
  grid-area: circle;
  width: 60px;
  height: 60px;
  border: 1px solid RGBA(25, 25, 25, 0.1);
  border-radius: 30px;
}
.index-main .why-choose-us .text .reason img {
  position: absolute;
  top: 16px;
  left: 16px;
}
.index-main .why-choose-us .text .reason h3 {
  grid-area: h3;
  margin-left: 24px;
  margin-bottom: 0px;
  margin-top: 6px;
}
.index-main .why-choose-us .text .reason p {
  grid-area: "p";
  margin-left: 24px;
  margin-bottom: 0;
  color: RGBA(25, 25, 25, 0.7);
}
.index-main .why-choose-us .image {
  position: relative;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  padding-bottom: 60px;
}
@media (min-width: 1400px) {
  .index-main .why-choose-us .image {
    padding-left: 220px;
    margin-top: 90px;
    margin-left: 112px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .index-main .why-choose-us .image img {
    max-width: 90%;
  }
}
.index-main .why-choose-us .image .square {
  position: absolute;
  background-color: #F0EFE9;
  height: 225px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .index-main .why-choose-us .image .square {
    height: 425px;
    bottom: -60px;
  }
}
@media (min-width: 1400px) {
  .index-main .why-choose-us .image .square {
    left: 60px;
    width: 100vw;
  }
}
.index-main .project-and-case .section-title {
  text-align: center;
}
.index-main .project-and-case .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .index-main .project-and-case .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.index-main .project-and-case .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.index-main .project-and-case .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.index-main .project-and-case .project-and-cases .project h3 {
  padding-top: 35px;
  padding-bottom: 16;
  border-bottom: 1px solid #DAD9D3;
}
.index-main .project-and-case .project-and-cases .project .read-more {
  padding: 15px;
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.index-main .project-and-case .project-and-cases .project .read-more i {
  margin-left: 3px;
}
.index-main .project-and-case .project-and-cases .project:hover .read-more {
  text-decoration: underline;
}
.index-main .project-and-case .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}
.index-main .team-and-reviews {
  background-color: RGBA(240, 208, 130, 0.93);
  padding-bottom: 120px;
}
.index-main .team-and-reviews .meet-our-team {
  display: block;
  text-align: center;
}
@media (min-width: 1200px) {
  .index-main .team-and-reviews .meet-our-team {
    display: grid;
    align-items: center;
    text-align: left;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "title btn" "team team";
  }
}
.index-main .team-and-reviews .meet-our-team .section-title {
  grid-area: title;
}
@media (max-width: 1199px) {
  .index-main .team-and-reviews .meet-our-team .section-title {
    padding: 40px 0px;
  }
}
.index-main .team-and-reviews .meet-our-team .btn-yellow {
  grid-area: btn;
  margin-top: 50px;
  border-color: #191919;
}
.index-main .team-and-reviews .meet-our-team .team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: team;
  gap: 22px;
  padding-top: 30px;
}
@media (min-width: 1200px) {
  .index-main .team-and-reviews .meet-our-team .team-members {
    display: flex;
    grid-area: team;
    gap: 22px;
    padding-top: 5px;
  }
}
.index-main .team-and-reviews .meet-our-team .team-members h3 {
  padding-top: 10px;
}
@media (min-width: 1200px) {
  .index-main .team-and-reviews .meet-our-team .team-members h3 {
    padding-top: 28px;
  }
}
.index-main .team-and-reviews .meet-our-team .team-members p {
  padding-bottom: 34px;
  font-weight: 500;
  color: RGBA(25, 25, 25, 0.7);
}
.index-main .team-and-reviews .dots {
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
  gap: 15px;
}
.index-main .team-and-reviews .dots .dot {
  height: 12px;
  width: 12px;
  background-color: #C3AB71;
  border-radius: 50%;
  display: inline-block;
}
.index-main .team-and-reviews .dots .dot.second {
  background-color: #191919;
}
.index-main .team-and-reviews .testimonial {
  background-color: #FFFFFF;
  max-width: 1520px;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding-bottom: 120px;
}
.index-main .team-and-reviews .testimonial .reviews-row {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 576px) {
  .index-main .team-and-reviews .testimonial .reviews-row {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1300px) {
  .index-main .team-and-reviews .testimonial .reviews-row {
    display: flex;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 60px;
    gap: 90px;
  }
}
.index-main .team-and-reviews .testimonial .reviews-row .review {
  text-align: left;
}
@media (max-width: 1300px) {
  .index-main .team-and-reviews .testimonial .reviews-row .review {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "stars" "reviewer" "text";
    padding-bottom: 40px;
  }
}
.index-main .team-and-reviews .testimonial .reviews-row .review .stars {
  color: #F94D1C;
  grid-area: stars;
}
@media (max-width: 1300px) {
  .index-main .team-and-reviews .testimonial .reviews-row .review .stars {
    margin-left: 85px;
  }
}
.index-main .team-and-reviews .testimonial .reviews-row .review p {
  grid-area: text;
  padding-left: 25px;
  padding-top: 12px;
  font-size: 18px;
  line-height: 34px;
}
@media (min-width: 576px) {
  .index-main .team-and-reviews .testimonial .reviews-row .review p {
    padding-left: 0px;
  }
}
.index-main .team-and-reviews .testimonial .reviews-row .review .reviewer {
  grid-area: reviewer;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img name" "img title";
}
.index-main .team-and-reviews .testimonial .reviews-row .review .reviewer img {
  grid-area: img;
  padding-right: 15px;
}
.index-main .team-and-reviews .testimonial .reviews-row .review .reviewer h3 {
  grid-area: name;
  margin-top: 10px;
}
.index-main .team-and-reviews .testimonial .reviews-row .review .reviewer p {
  grid-area: title;
  color: #F94D1C;
  margin-top: -24px;
  font-size: 16px;
  padding-left: 0px;
}
.index-main .article-and-news .title-and-btn {
  display: block;
  padding-bottom: 45px;
  text-align: center;
}
@media (min-width: 1000px) {
  .index-main .article-and-news .title-and-btn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    text-align: left;
  }
}
.index-main .article-and-news .title-and-btn .section-title {
  padding-bottom: 30px;
  margin-left: 0px;
}
@media (min-width: 1000px) {
  .index-main .article-and-news .title-and-btn .section-title {
    padding-bottom: 0px;
    margin-left: 100px;
  }
}
@media (min-width: 1400px) {
  .index-main .article-and-news .title-and-btn .section-title {
    padding-bottom: 0px;
    margin-left: 0px;
  }
}
.index-main .article-and-news .title-and-btn .btn-transparent {
  margin-top: auto;
}
.index-main .article-and-news .articles-container {
  display: grid;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 768px) {
  .index-main .article-and-news .articles-container {
    padding-left: 130px;
    padding-right: 100px;
  }
}
@media (min-width: 1400px) {
  .index-main .article-and-news .articles-container {
    display: flex;
    gap: 30px;
    padding: 0px;
  }
}
.index-main .article-and-news .articles-container .article {
  position: relative;
  display: inline;
}
@media (min-width: 1000px) {
  .index-main .article-and-news .articles-container .article {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "img h4" "img h3" "img text";
  }
}
@media (min-width: 1400px) {
  .index-main .article-and-news .articles-container .article {
    display: inline;
  }
}
.index-main .article-and-news .articles-container .article img {
  grid-area: img;
  padding: 0px 20px 20px 0px;
  width: 100%;
}
@media (min-width: 440px) {
  .index-main .article-and-news .articles-container .article img {
    width: auto;
  }
}
@media (min-width: 1400px) {
  .index-main .article-and-news .articles-container .article img {
    padding-bottom: 0px;
    padding-right: 0px;
  }
}
.index-main .article-and-news .articles-container .article h4 {
  grid-area: h4;
  color: #6A6C71;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: -10px;
}
@media (min-width: 1000px) {
  .index-main .article-and-news .articles-container .article h4 {
    margin-top: 28px;
  }
}
.index-main .article-and-news .articles-container .article h3 {
  grid-area: h3;
}
@media (min-width: 1400px) {
  .index-main .article-and-news .articles-container .article h3 {
    margin-top: 20px;
  }
}
.index-main .article-and-news .articles-container .article .text {
  grid-area: text;
  color: RGBA(25, 25, 25, 0.7);
  padding-bottom: 40px;
}
@media (min-width: 1400px) {
  .index-main .article-and-news .articles-container .article .text {
    margin-top: 20px;
  }
}
.index-main .article-and-news .articles-container .article .date {
  position: absolute;
  background-color: #F9D783;
  line-height: 18px;
  padding: 18px 11px 8px 14px;
  top: 16px;
  left: 16px;
}
.index-main .article-and-news .articles-container .article .date .month {
  margin-bottom: 0;
}
.index-main .article-and-news .articles-container .article .date span {
  font-family: "DM sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.index-main .article-and-news .dots {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
  margin-top: 0px;
  gap: 15px;
}
@media (min-width: 1000px) {
  .index-main .article-and-news .dots {
    margin-top: 50px;
  }
}
.index-main .article-and-news .dots .dot {
  height: 12px;
  width: 12px;
  background-color: #D1D1D1;
  border-radius: 50%;
  display: inline-block;
}
.index-main .article-and-news .dots .dot.first {
  background-color: #191919;
}
.index-main .sign-up {
  position: relative;
  background-color: #F0EFE9;
  padding: 40px 0;
  z-index: 0;
}
@media (min-width: 768px) {
  .index-main .sign-up {
    padding: 80px 0;
  }
}
.index-main .sign-up .background-wavy-lines {
  position: absolute;
  bottom: 40px;
  right: 0;
  z-index: -1;
  max-width: 20%;
}
.index-main .sign-up .container {
  display: block;
  text-align: center;
}
@media (min-width: 1200px) {
  .index-main .sign-up .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.index-main .sign-up .container h2 {
  font-family: "DM sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .index-main .sign-up .container h2 {
    font-size: 45px;
  }
}
.index-main .sign-up .container form input {
  padding: 6px 20px;
  border-radius: 25px;
  color: RGBA(25, 25, 25, 0.5);
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1);
  margin: 20px 0px 30px 0px;
}
@media (min-width: 768px) {
  .index-main .sign-up .container form input {
    margin-right: 20px;
  }
}
.index-main .sign-up .container form .btn-yellow {
  text-wrap: nowrap;
}

footer {
  position: relative;
  background-color: #0E1021;
  color: RGBA(255, 255, 255, 0.7);
  padding-top: 60px;
}
@media (min-width: 1200px) {
  footer {
    padding-top: 114px;
  }
}
footer .white-line {
  display: none;
  position: absolute;
  right: 0;
  bottom: 94px;
  max-width: 30%;
}
@media (min-width: 768px) {
  footer .white-line {
    display: block;
  }
}
footer .top-menu {
  display: block;
}
@media (min-width: 1200px) {
  footer .top-menu {
    display: flex;
    gap: 50px;
  }
}
footer .top-menu .logo-and-text {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  footer .top-menu .logo-and-text {
    display: block;
    padding-right: 60px;
  }
}
footer .top-menu .logo-and-text .logotype {
  margin-bottom: 18px;
}
footer .top-menu .logo-and-text p {
  display: none;
}
@media (min-width: 768px) {
  footer .top-menu .logo-and-text p {
    display: inline;
  }
}
footer .top-menu .logo-and-text .btn-menubars {
  display: inline-block;
  font-size: 25px;
  border: none;
  color: #FFFFFF;
  background-color: transparent;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  footer .top-menu .logo-and-text .btn-menubars {
    display: none;
  }
}
footer .top-menu .items {
  display: none;
}
@media (min-width: 768px) {
  footer .top-menu .items {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  footer .top-menu .items {
    gap: 50px;
    padding-top: 0;
  }
}
@media (min-width: 1400px) {
  footer .top-menu .items {
    gap: 100px;
  }
}
footer .top-menu .items .item {
  display: inline-block;
  text-wrap: nowrap;
  margin-bottom: 88px;
}
footer .top-menu .items .item p {
  margin: 0;
  font-weight: 500;
  line-height: 30px;
}
@media (min-width: 1200px) {
  footer .top-menu .items .item p {
    line-height: 40px;
  }
}
footer .top-menu .items .item h3 {
  color: #FFFFFF;
  padding-bottom: 20px;
}
footer .border-line {
  position: absolute;
  border: 1px solid RGBA(255, 255, 255, 0.2);
  width: 100dvw;
  left: 0;
}
footer .bottom-menu {
  display: block;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  footer .bottom-menu {
    display: flex;
    justify-content: space-between;
  }
}
footer .bottom-menu a {
  color: #FFFFFF;
  font-size: 16px;
  margin-left: 26px;
  text-wrap: nowrap;
  transition: color 0.2s ease-in-out;
}
footer .bottom-menu a:hover {
  color: #7c7c7c;
}

.contact-main .lets-connect {
  background-color: #F0EFE9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
}
.contact-main .lets-connect nav {
  padding-bottom: 10px;
}
.contact-main .lets-connect nav a {
  color: #5b5752;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 300;
}
.contact-main .lets-connect nav a.active {
  font-weight: 500;
}
.contact-main .lets-connect nav a:hover {
  text-decoration: underline;
}
.contact-main .lets-connect h2 {
  padding-top: 10px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 56px;
}
.contact-main .contact-menu {
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
}
@media (min-width: 576px) {
  .contact-main .contact-menu {
    display: flex;
    gap: 10px;
    padding: 20px 0px 40px 0px;
  }
}
@media (min-width: 992px) {
  .contact-main .contact-menu {
    gap: 30px;
    padding: 110px 0px 80px 0px;
  }
}
.contact-main .contact-menu .contact-info {
  display: flex;
  flex: 1;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
  justify-content: center;
  border: 1px solid #d2d0c8;
  color: RGBA(25, 25, 25, 0.8);
}
@media (min-width: 992px) {
  .contact-main .contact-menu .contact-info {
    padding: 50px;
    font-size: 18px;
    text-align: start;
    color: #191919;
  }
}
.contact-main .contact-menu .contact-info .contact-symbol {
  display: flex;
  align-self: center;
  border: 1px solid #191919;
  background-color: #191919;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) and (min-width: 577px) {
  .contact-main .contact-menu .contact-info .contact-symbol {
    display: none;
  }
}
@media (min-width: 1200px) {
  .contact-main .contact-menu .contact-info .contact-symbol {
    align-self: flex-start;
    margin-right: 25px;
  }
}
.contact-main .contact-menu .contact-info .info {
  padding-top: 10px;
}
.contact-main .contact-menu .contact-info .info h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}
.contact-main .leave-a-message {
  background-color: #F0EFE9;
  justify-content: center;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 80px;
}
.contact-main .leave-a-message h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
@media (min-width: 576px) {
  .contact-main .leave-a-message h3 {
    font-size: 45px;
  }
}
.contact-main .leave-a-message .input-container .input-text {
  border-style: none;
  border-radius: 30px;
  width: 78%;
  padding: 18px 10px 15px 35px;
  padding-right: 20px;
  margin-top: 16px;
  overflow: hidden;
  outline-color: #F9D783;
  resize: none;
}
.contact-main .leave-a-message .input-container .btn-yellow {
  display: block;
  width: 78%;
  margin: 30px auto 0px;
}
.contact-main .leave-a-message #Send-message {
  display: inline-block;
  width: 78%;
  margin-top: 30px;
}
.contact-main .map {
  background: url("../images/map.png") no-repeat center;
  background-color: #F0EFE9;
  height: 620px;
  margin-top: 30px;
}
@media (min-width: 1000px) {
  .contact-main .map {
    margin-top: 120px;
  }
}